### Challenge sets

In [1]:
import pandas as pd
import numpy as np

In [2]:
df_original = pd.read_csv('data/leetcode_dataset - lc.csv')

In [3]:
df_cleaned = df_original[df_original['is_premium'] == 0].copy()
df_cleaned = df_cleaned[['title', 'description', 'difficulty']]
df_cleaned.columns = ['Challenge_title', 'Challenge_content', 'Challenge_difficulty']
df_cleaned['Challenge_type'] = 'Coding'
df_cleaned.dropna(subset=['Challenge_title', 'Challenge_content'], inplace=True)

In [4]:
print("--- ORIGINAL DATASET ---")
display(df_original.head())

,id,title,description,is_premium,difficulty,solution_link,acceptance_rate,frequency,url,discuss_count,accepted,submissions,companies,related_topics,likes,dislikes,rating,asked_by_faang,similar_questions
0,1,Two Sum,Given an array of integers `nums` and an integ...,0,Easy,/articles/two-sum,46.7,100.0,https://leetcode.com/problems/two-sum,999,4.1M,8.7M,"Amazon,Google,Apple,Adobe,Microsoft,Bloomberg,...","Array,Hash Table",20217,712,97,1,"[3Sum, /problems/3sum/, Medium], [4Sum, /probl..."
1,2,Add Two Numbers,You are given two non-empty linked lists repre...,0,Medium,/articles/add-two-numbers,35.7,93.1,https://leetcode.com/problems/add-two-numbers,999,1.9M,5.2M,"Bloomberg,Microsoft,Amazon,Google,Facebook,App...","Linked List,Math,Recursion",11350,2704,81,1,"[Multiply Strings, /problems/multiply-strings/..."
2,3,Longest Substring Without Repeating Characters,"Given a string `s`, find the length of the lon...",0,Medium,/articles/longest-substring-without-repeating-...,31.5,90.9,https://leetcode.com/problems/longest-substrin...,999,2.1M,6.7M,"Amazon,Bloomberg,Microsoft,Facebook,Apple,Adob...","Hash Table,Two Pointers,String,Sliding Window",13810,714,95,1,[Longest Substring with At Most Two Distinct C...
3,4,Median of Two Sorted Arrays,Given two sorted arrays `nums1` and `nums2` of...,0,Hard,/articles/median-of-two-sorted-arrays,31.4,86.2,https://leetcode.com/problems/median-of-two-so...,999,904.7K,2.9M,"Amazon,Goldman Sachs,Facebook,Microsoft,Apple,...","Array,Binary Search,Divide and Conquer",9665,1486,87,1,NaN
4,5,Longest Palindromic Substring,"Given a string `s`, return the longest palindr...",0,Medium,/articles/longest-palindromic-substring,30.6,84.7,https://leetcode.com/problems/longest-palindro...,999,1.3M,4.1M,"Amazon,Microsoft,Wayfair,Facebook,Adobe,eBay,G...","String,Dynamic Programming",10271,670,94,1,"[Shortest Palindrome, /problems/shortest-palin..."

In [5]:
print("\n--- CLEANED DATASET FOR LOCKIN ---")
display(df_cleaned.head())

,Challenge_title,Challenge_content,Challenge_difficulty,Challenge_type
0,Two Sum,Given an array of integers `nums` and an integ...,Easy,Coding
1,Add Two Numbers,You are given two non-empty linked lists repre...,Medium,Coding
2,Longest Substring Without Repeating Characters,"Given a string `s`, find the length of the lon...",Medium,Coding
3,Median of Two Sorted Arrays,Given two sorted arrays `nums1` and `nums2` of...,Hard,Coding
4,Longest Palindromic Substring,"Given a string `s`, return the longest palindr...",Medium,Coding

In [6]:
print(f"\nOriginal rows: {len(df_original)}")
print(f"Cleaned rows ready for Postgres: {len(df_cleaned)}")

Original rows: 1825
Cleaned rows ready for Postgres: 1427

In [7]:
df_cleaned.to_csv('cleaned/cleaned_leetcode_dataset.csv', index=False)

### User Engagement Prediction

In [8]:
df_students_original = pd.read_csv('data/Students_gamification_grades.csv')

In [9]:
df_cleaned = df_students_original.copy()

df_cleaned['Practice_Exam'] = df_cleaned['Practice_Exam'].fillna(0)

access_cols = [f'No_access_Q{i}' for i in range(1, 7)]
df_cleaned['Total_Engagement'] = df_cleaned[access_cols].sum(axis=1)

grade_cols = [f'Avg_Grade_Q{i}' for i in range(1, 7)]
df_cleaned['Avg_Quiz_Grade'] = df_cleaned[grade_cols].mean(axis=1).round(2)

df_cleaned = df_cleaned[[
    'Student_ID', 'User', 'Practice_Exam', 'Final_Exam',
    'Total_Engagement', 'Avg_Quiz_Grade'
]]

df_cleaned.rename(columns={'User': 'Is_Gamified'}, inplace=True)

In [10]:
print("--- ORIGINAL STUDENT DATASET ---")
display(df_students_original.head())

,Student_ID,Practice_Exam,Final_Exam,User,Avg_Grade_Q1,Avg_Grade_Q2,Avg_Grade_Q3,Avg_Grade_Q4,Avg_Grade_Q5,Avg_Grade_Q6,No_access_Q1,No_access_Q2,No_access_Q3,No_access_Q4,No_access_Q5,No_access_Q6
0,1046,9.33,7.98,1,6.00,10.0,10.0,10.0,0.0,8.0,1,1,1,1,0,1
1,1048,2.89,6.49,0,0.00,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,0
2,1050,7.67,6.90,1,9.00,10.0,10.0,10.0,10.0,10.0,1,1,1,1,1,1
3,1052,4.97,7.69,1,6.00,9.0,5.0,4.0,9.0,4.0,2,2,2,1,1,2
4,1054,3.89,7.78,1,9.33,10.0,10.0,10.0,10.0,10.0,12,1,1,1,1,1

In [11]:
print("\n--- CLEANED ANALYTICS DATASET FOR LOCKIN ---")
display(df_cleaned.head())

,Student_ID,Is_Gamified,Practice_Exam,Final_Exam,Total_Engagement,Avg_Quiz_Grade
0,1046,1,9.33,7.98,5,7.33
1,1048,0,2.89,6.49,0,0.00
2,1050,1,7.67,6.90,6,9.83
3,1052,1,4.97,7.69,10,6.17
4,1054,1,3.89,7.78,17,9.89

In [12]:
stats = df_cleaned.groupby('Is_Gamified')['Final_Exam'].mean()
print(f"\n--- LOCKIN Insight ---")

print(f"Average Final Grade (Non-Gamified): {stats.get(0, 0):.2f}")
print(f"Average Final Grade (Gamified/Locked-In): {stats.get(1, 0):.2f}")

--- LOCKIN Insight ---
Average Final Grade (Non-Gamified): 6.25
Average Final Grade (Gamified/Locked-In): 7.35

In [13]:
df_cleaned.to_csv('cleaned/cleaned_student_analytics.csv', index=False)

### AI Suggested Solutions

In [14]:
df_ai_original = pd.read_csv('data/programming_questions_solutions.csv')

In [15]:
df_ai_cleaned = df_ai_original.copy()

df_ai_cleaned = df_ai_cleaned.rename(columns={
    'AI-Generated Solution': 'code_solution',
    'Time Complexity': 'complexity_info',
    'Explanation': 'explanation_text',
    'Difficulty Level': 'Difficulty'
})

df_ai_cleaned['code_solution'] = df_ai_cleaned['code_solution'].str.replace(r'\\n', '\n', regex=True)

In [16]:
valid_topics = ['Data Structures', 'Sorting Algorithms', 'Graph Theory', 'Recursion', 'Dynamic Programming']
df_ai_cleaned = df_ai_cleaned[df_ai_cleaned['Topic'].isin(valid_topics)]

In [17]:
print("--- ORIGINAL AI DATASET (First 3 Rows) ---")
display(df_ai_original.head(3))

print("\n--- CLEANED AI HINT DATASET (First 3 Rows) ---")
display(df_ai_cleaned.head(3))

,Question,Difficulty,Programming Language,code_solution,complexity_info,explanation_text,Topic
2,Problem 3: Solve a Databases challenge in Kotlin,Hard,JavaScript,def solution():\n # Implement Graph Theory ...,O(n^2),This solution optimally solves Machine Learnin...,Dynamic Programming
3,Problem 4: Solve a Recursion challenge in Python,Easy,Swift,def solution():\n # Implement OOP Concepts ...,O(n^2),This solution optimally solves Graph Theory wi...,Data Structures
4,Problem 5: Solve a OOP Concepts challenge in P...,Easy,Swift,def solution():\n # Implement Sorting Algor...,O(n^2),This solution optimally solves OOP Concepts wi...,Sorting Algorithms

In [18]:
df_ai_cleaned.to_csv('cleaned/cleaned_ai_hints.csv', index=False)

### Career paths

In [19]:
df_tech_original = pd.read_csv('data/Tech_Data.csv')

In [20]:
df_tech_cleaned = df_tech_original.copy()

df_tech_cleaned.dropna(subset=['Programming Languages '], inplace=True)

df_tech_cleaned.columns = [col.strip() for col in df_tech_cleaned.columns]

df_tech_cleaned = df_tech_cleaned[['Field', 'Job roles', 'Programming Languages', 'Skills']]
df_tech_cleaned.columns = ['field_name', 'job_role', 'required_languages', 'required_skills']

relevant_fields = [
    'Artificial Intelligence', 'Software Development',
    'Web Development', 'Mobile App Development', 'Cybersecurity'
]
df_tech_cleaned = df_tech_cleaned[df_tech_cleaned['field_name'].isin(relevant_fields)]

In [21]:
print("--- ORIGINAL TECH DATASET (First 3 Rows) ---")
display(df_tech_original.head(3))

print("\n--- CLEANED CAREER PATH DATASET (First 3 Rows) ---")
display(df_tech_cleaned.head(3))

top_langs = df_tech_cleaned['required_languages'].str.split(',').explode().str.strip().value_counts().head(5)

print("\n--- Career Insight for LOCKIN ---")
print("Top 5 Languages requested across these Career Paths:")
print(top_langs)

--- Career Insight for LOCKIN ---
Top 5 Languages requested across these Career Paths:
required_languages
Python        197
JavaScript    141
Java          108
C++            84
Bash           77
Name: count, dtype: int64

In [22]:
df_tech_cleaned.to_csv('cleaned/cleaned_career_paths.csv', index=False)